.flex-container {
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 1250px;
    height: 700px;
  }
  .clickDiv {
    background-color: #006B38;
    width: 70%;
    margin: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 30px;
  }
  .logoDiv {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 30px; 
  }
  .logo {
    width: 250px;
    height: 250px;
    align-items:center;
  }
  .smallLogo {
    width: 50px;
    height: 50px;
    align-items:center;
  }
  .buttonStyle {
    width: 100px;
    height: 50px;
    color:green;
    background-color: yellow;
    align-items:center;
  }
  .playerStatsDiv {
    background-color: #f1f1f1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline-block;
    margin:25px;

  }
  .gameAreaDiv {
    background-color: #006B38;
    width: 100%;
    height: 600px;
    margin: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 30px;
  }
  .towerInfoDiv {
    background-color: #f1f1f1;
    width: 50%;
    text-align: center;
    flex-direction: row;
    display: inline-block;

  }
  .infoDiv {
    background-color: yellow;
    width: 33%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: inline-block;
    margin-top:15px;
  }
  .infoDivColumn {
    background-color: green;
    width: 25%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin:5px;
    display: inline-block;

  }
  .textP {
    background-color: purple;
    display:inline-block;
    margin:10px;
    font-size: 30px;
    color: #006B38;
  }
  .textPColumn {
    background-color: purple;
    margin:5px;
    font-size: 30px;
    color: #006B38;
  }
  .textDiv {
    background-color: black;
    color: #006B38;
    width: 70%;
    margin: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 30px;
  }

